html, body {
    width: 100%;
}
body {
    margin: 0;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 10px 10px;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 15px;
    margin-top: 100px;
}

.picbg {
    position: relative;
}
.cardpic {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.picbg:hover .overlay {
    opacity: 0.5;
    background: hsl(178, 100%, 50%);
    width: 250px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
}
.viewicon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.name {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 400;
    width: 250px;
    cursor: pointer;
}
.name:hover {
    color: hsl(178, 100%, 50%);
}
.desc {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    font-weight: 300;
    width: 250px;
}
.cardinfo {
    border-bottom: 0.5px solid hsl(215, 32%, 27%);
    padding-bottom: 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    
}
.value {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items:center;
}
.ethicon {
    margin-right: 5px;
}
.days {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    display: flex;
    align-items:center;
}
.clockicon {
    margin-right: 5px;
}
.cardauthor {
    display: flex;
    align-items:center;
    padding-top: 20px;
}
.cardauthor p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 15px;
}
.cardauthor span {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}
.cardauthor:hover span {
    color: hsl(178, 100%, 50%);
}
.author {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
    margin-right: 20px;
}

@media only screen and (max-width: 375px) {
    html, body {
        height: 100%;
}
}



.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}